/* Resets */
body, html {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* { box-sizing: border-box; }

/* General */
h3 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.09em;
}

/* Main containter */
.root {
    position: relative;
}

/* Inner Container */
.inner-container {
    max-width: 1440px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

/* Selection Options */
.options {
    display: flex;
    margin-bottom: 8px;
    padding: 24px;
    width: 100%;
    border-bottom: 1px solid #efefef;
    position: sticky;
    top: 0;
    background-color: white;
}
.options .field {
    line-height: 0.6;
}
.options label {
    font-size: 12px;
    margin-bottom: 10px;
    display: inline-block;
}
.selector {
    display: flex;
    flex-wrap: wrap;
    margin-right: 16px;
    padding: 5px;
    border-radius: 4px;
}

/* flags container */
.available-flags {
    padding: 24px;
    display: grid;
    grid-row: span;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}
@media screen and (max-width: 1200px) {
    .available-flags {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 930px) {
    .available-flags {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 640px) {
    .available-flags {
        grid-template-columns: 1fr;
    }
}
/* card */
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
}
.card header {
    margin-bottom: 10px;
    font-size: 10px;
    text-transform: uppercase;
    height: 24px;
}
.card footer {
    margin-top: 10px;
    font-size: 12px;
}